$primary       : #4e37b2;
$secondary     : #ff7750;
$btn-link-color: #fff;

$success: rgb(44, 202, 110);
$warning: rgb(255 190 7);

$radius: 12px;

$body-bg: #f6f6fb;

$font-family-sans-serif: 'Inter';
$font-family-serif     : Georgia,
"Times New Roman",
Times,
serif !default;
$font-family-monospace: 'Jetbrains Mono',
Menlo,
Monaco,
Consolas,
"Liberation Mono",
"Courier New",
monospace !default;
$font-family-base: $font-family-sans-serif !default;