.bg-php,
.bg-PHP {
    background-color: #787cb4;
}

.bg-node,
.bg-nodejs,
.bg-NODE,
.bg-NODEJS {
    background-color: #5aaa46;
}

.bg-wp,
.bg-WP,
.bg-wordpress,
.bg-WORDPRESS {
    background-color: #1f6f93;
}